<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>nlock</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description>请求</description>
    <display-name>Req</display-name>
    <servlet-name>Req</servlet-name>
    <servlet-class>com.push.controller.RequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Req</servlet-name>
    <url-pattern>/request</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>装应用</description>
    <display-name>InstallServlet</display-name>
    <servlet-name>InstallServlet</servlet-name>
    <servlet-class>com.push.controller.InstallServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InstallServlet</servlet-name>
    <url-pattern>/install</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>产品操作</description>
    <display-name>OperateServlet</display-name>
    <servlet-name>OperateServlet</servlet-name>
    <servlet-class>com.push.controller.OperateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OperateServlet</servlet-name>
    <url-pattern>/operate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>内测mem</description>
    <display-name>Memdate</display-name>
    <servlet-name>Memdate</servlet-name>
    <servlet-class>com.push.controller.Memdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Memdate</servlet-name>
    <url-pattern>/clearmem</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>统计升级版</description>
    <display-name>opert</display-name>
    <servlet-name>opert</servlet-name>
    <servlet-class>com.push.controller.TakeOperServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>opert</servlet-name>
    <url-pattern>/takedew</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>OperFilter</display-name>
    <filter-name>OperFilter</filter-name>
    <filter-class>com.push.filter.OperFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>OperFilter</filter-name>
    <url-pattern>/takedew</url-pattern>
  </filter-mapping>
</web-app>